{% extends 'base.html' %}

<!-- Header -->
{% block head %}
  <title> Upload Landing Page </title>
{% endblock %}

<!-- Body -->
{% block body %}
  <h1> Please upload a file </h1>

  <!-- Form upload file -->
  <form action="/upload" method="post" enctype="multipart/form-data">
    <!-- Local Path input -->
    <label for="local_path">Local Path:</label>
    <input type="text" id="local_path" name="local_path" placeholder="Enter local file path" /><br><br>

    <!-- Excel URL input -->
    <label for="excel_url">Enter Excel OneDrive file URL:</label>
    <input type="text" id="excel_url" name="excel_url" placeholder="Enter Excel OneDrive file URL" /><br><br>

    <input type="submit" value="Upload" />
  </form>

  <!-- Show Files -->
  <form action="/show_excel" method="post">
    <select name="selected_file" id="files_selection">
      {% for file in all_files %}
        <option value="{{ file }}">{{ file }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Show Files" />
  </form>

  <script>
    // Pass error_message to JS file
    const error_message = "{{ error_message or '' }}";
    showPopup(error_message);
  </script>
{% endblock %}
